---
interface Props {
  titolPagina?: string;
  descripcioPàgina?: string;
}

const { titolPagina = 'Títol per defecte', descripcioPàgina } = Astro.props;
---

<!doctype html>
<html lang='ca'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={descripcioPàgina} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Curs Fazt | {titolPagina}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: Ubuntu, sans-serif;
    background-color: #202020;
    color: #f0f0f0;
  }
</style>
