---
import Layout from '../layouts/Layout.astro';

---

<Layout titolPagina="Sobre nosaltres" descripcioPàgina="Sobre nosaltres i les nostres vides">
	<h2>Sobre el nostre lloc web</h2>
	<p>Elaborat per llopFilms &copy;2023</p>
</Layout>
