<button><a href='/'>Tornar a l'Inici</a></button>

<style>
  button {
    padding: 0.5rem 1rem;
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 0.5rem;

    a {
			text-decoration: none;
      color: #f202020;
    }
  }
</style>
