<div class='container'>
  <button><a href='/posts'>Accés a Posts</a></button>
  <button><a href='/serveis'>Accés a Serveis</a></button>
  <button><a href='/sobreNosaltres'>Accés a Sobre Nosaltres</a></button>
</div>

<style>
  .container {
    margin: 1rem;
    display: flex;
    gap: 1rem;

    button {
      padding: 0.5rem 1rem;
      background-color: skyblue;
      border: 2px solid black;
      border-radius: 0.5rem;

      a {
        text-decoration: none;
        color: #f202020;
      }
    }
  }
</style>
